.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .mainImageContainer {
    position: relative;
    width: 600px;
    height: 400px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .mainImage {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      transition: transform 0.3s ease;
      cursor: zoom-in;
    }
  }

  .zoomPanel {
    position: absolute;
    left: 50px;
    pointer-events: none;
    width: 300px; /* Fixed size for the zoomed-in area */
    height: 300px;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 1;
    display: block;
    z-index: 99999;
  }

  .zoomPanel img {
    width: 200px;
    height: 200px;
    transform: scale(4); /* Zoom in the image */
    object-fit: cover;
  }

  .navButtonPrev,
  .navButtonNext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    opacity: 0.7;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }
  }

  .navButtonPrev {
    left: 10px;
  }

  .navButtonNext {
    right: 10px;
  }

  .thumbnails {
    display: flex;
    gap: 0.5rem;

    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border: 2px solid transparent;
      border-radius: 4px;
      cursor: pointer;
      transition: border-color 0.2s;

      &.active {
        border-color: #0070f3;
      }
    }
  }
}
